
ul.prazan_kruzic{
    margin-left: 100px;
    padding: 30px;
    list-style-type: circle;
    background: yellow;
}

li{
    background: tomato;
}

ul.kvadratic{
    list-style-type: square;
}

ol.abecedna_ordered_lista{
    list-style-type: lower-alpha;
}

ul.pozicionirana{
  list-style-position: outside;
}